
SOP/lista_fork/.vscode/c_cpp_properties.json
SOP/lista_fork/.vscode/launch.json
SOP/lista_fork/.vscode/settings.json
SOP/lista revisaoC/.vscode/settings.json
SOP/lista revisaoC/.vscode/launch.json
SOP/lista revisaoC/.vscode/settings.json
SOP/lista revisaoC/.vscode/launch.json
SOP/lista revisaoC/.vscode/launch.json
SOP/lista_fork/a.out
CGR/testes/.vscode/c_cpp_properties.json
CGR/testes/.vscode/launch.json
CGR/testes/.vscode/settings.json
CGR/trabalho_complementar/snowman
CGR/trabalho_complementar/castelo
CGR/trabalho_complementar/-castelo
CGR/trabalho_complementar/.vscode/c_cpp_properties.json
CGR/trabalho_complementar/.vscode/launch.json
CGR/trabalho_complementar/robo
CGR/trabalho_complementar/.vscode/settings.json
CGR/trabalho1/.vscode/c_cpp_properties.json
CGR/trabalho1/.vscode/launch.json
.vscode/settings.json
CGR/trabalho1/.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
SOP/lista_phtreads/minhas_solucoes/a.out
SOP/.vscode/settings.json
SOP/.vscode/c_cpp_properties.json
SOP/.vscode/launch.json
SOP/lista_IPC_LINUX/.vscode/c_cpp_properties.json
SOP/lista_IPC_LINUX/.vscode/launch.json
SOP/lista_IPC_LINUX/.vscode/settings.json
CGR/.vscode/c_cpp_properties.json
CGR/.vscode/launch.json
CGR/.vscode/settings.json
CGR/trabalho1_modelos/.vscode/c_cpp_properties.json
CGR/trabalho1_modelos/.vscode/launch.json
CGR/trabalho1_modelos/.vscode/settings.json
CAL/heuristica/.vscode/c_cpp_properties.json
CAL/heuristica/.vscode/launch.json
CAL/heuristica/.vscode/settings.json
CAL/heuristica/saida
